/* Rules for sizing the icon. */
.material-icons.md-18
    font-size: 18px
.material-icons.md-24
    font-size: 24px
.material-icons.md-36
    font-size: 36px
.material-icons.md-48
    font-size: 48px
/* Rules for using icons as black on a light background. */
.material-icons.md-dark
    color: rgba(0, 0, 0, 0.54)
.material-icons.md-dark.md-inactive
    color: rgba(0, 0, 0, 0.26)
/* Rules for using icons as white on a dark background. */
.material-icons.md-light
    color: rgba(255, 255, 255, 1)
.material-icons.md-light.md-inactive
    color: rgba(255, 255, 255, 0.3)




// colors:
$blueGray50: #ECEFF1
$blueGray100: #CFD8DC
$blueGray400: #78909C
$blueGray500: #607D8B
$blueGray600: #546E7A

$gray600: #757575
$gray900: #212121


$grid: 48px
$sp: 0.062em




*
    margin: 0
    padding: 0

    background: transparent

    outline: none
    border: none

    box-sizing: border-box


img
    display: block




/* Roboto */
.roboto
    -webkit-font-smoothing: antialiased
    font-family: 'Roboto', sans-serif
    color: white


.roboto.gray
    color: $gray600


.roboto.dark
    color: $gray900


.roboto.headline
    font-size: $sp * 24
    font-weight: 400


.roboto.title
    font-size: $sp * 20
    font-weight: 500


.roboto.subheading
    font-size: $sp * 15
    font-weight: 400


.roboto.body-1
    font-size: $sp * 13
    font-weight: 400


.roboto.button
    font-size: $sp * 14
    font-weight: 500
    text-transform: uppercase


.roboto.caption
    font-size: $sp * 12
    font-weight: 500




/* Ripple */
.ripple
    overflow: hidden
    position: relative


.ripple.overflow
    overflow: visible


.ripple > .inside
    display: block

    z-index: 20
    position: absolute

    top: 50%; left: 50%
    border-radius: 50%

    transform: translate(-50%, -50%) scale(0)
    animation:  keyframes-ripple 300ms ease-out
    background: $gray600

    margin-bottom: 100%


@keyframes keyframes-ripple
    0%
        transform: translate(-50%, -50%) scale(0)
        opacity: 1
    100%
        transform: translate(-50%, -50%) scale(1)
        opacity: 0




=centered()
    display: flex
    justify-content: center
    align-items: center


=size($width, $height: false)
    @if $height
        height: $height
    @else
        height: $width
    width: $width


=max-size($width, $height: false)
    @if $height
        max-height: $height
    @else
        max-height: $width
    max-width: $width


=elevation($level)
    @if $level
        box-shadow: 0 ($level / 2 * 1px) (2px + $level) rgba(0,0,0,0.06 + 0.01 * $level), 0 (($level - 1) * 1px) ($level * 2px) rgba(0,0,0,0.24 - 0.01 * $level)
    @else
        box-shadow: none




body
    background: $blueGray50
    +centered()
    +size(100vw, 100vh)


.bar
    height: 48px




center.google
    +size(100%, auto)
    max-width: $grid * 10
    flex-direction: column




figure.google-logo
    +size(100%, $grid * 4)
    background-image: url(http://wallpapercave.com/wp/X7lwb1q.jpg)
    background-position: center
    background-size: cover


figure.google-logo img
    padding: 0 16px
    padding-top: 60px
    padding-bottom: 32px
    object-fit: contain
    +size(100%)




section
    +size(100%, auto)
    padding: 8px


figure.card
    border-radius: 2px
    background: white
    +size(100%)
    +elevation(2)




form.form-search
    display: flex
    justify-content: space-between

    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.08), 0 -1px 4px rgba(0, 0, 0, 0.22)
    border-radius: 2px

    transition: all 0.3s 0.2s ease


form.form-search:hover
    +elevation(4)


form.form-search input.search
    margin-left: 16px
    +size(100%, inherit)

    font-size: $sp * 19
    font-weight: 400


form.form-search button
    +size(48px)
    +centered()




section.apps figure.card
    padding: 8px
    +size(100%)

    display: flex

    justify-content: space-around
    flex-direction: row
    flex-wrap: wrap

    overflow: hidden


section.apps figure.card .app
    margin: 8px
    object-fit: contain
    display: inline-block
    text-decoration: none


section.apps figure.card .app figure
    +size(64px)

    background-image: url(https://ssl.gstatic.com/gb/images/p1_9186ee19.png)
    background-size: 64px 2134px
